

  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }

  .button-container {
    display: flex;
    justify-content: center;  /* Center horizontally */
    margin: 20px 0;           /* Optional spacing */
  }

  #charismaButton {
    transition: opacity 0.5s ease; /* Smooth fade transition */
    opacity: 1;
  }
  
  #charismaButton.fade-out {
    opacity: 0;
    pointer-events: none; /* Prevent interaction while fading out */
  }